


  body{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
  }
  
  
  h1{
  color: black;
  font-size: 50px;

}

p{

    color: orangered;
    font-size: 25px;
}
section{
    display: flex;
}

.half-width{
width: 50%;
padding-left: 5% ;
}

.half-width img{

    width: 60%;
    border-radius: 100px;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    
    
}

.orange-color{

    color: orange;
}

.top-banner{

    background-image: url(img/scene01.jpg);
background-repeat: no-repeat;

}
