


  body{

    font-family:'Varela Round', sans-serif;
    margin: 0%;
  }
  
  
  h1{
  color: black;
  font-size: 60px;

}

p{

    color: orangered;
    font-size: 25px;
}
section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
width: 50%;
padding-left: 5% ;
}

.half-width img{

    width: 60%;
    border-radius: 100px;
}

.link-button{
    text-decoration: none;
    background-color: teal;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    
    
}

.orange-color{

    color: orange;
}

.top-banner{

background-image: url(img/top-banner.png);
background-repeat: no-repeat;

}
